# slicing

In [1]:
#Extract a sublist using colon (:) syntax

In [2]:
list = ["motan", "tushar", "roshan", "gaurav"]
first_two = list[0:2]  # first_two will contain ["motan", "tushar"]
everything_except_last = list[:-1]  # everything_except_last will contain ["motan", "tushar", "roshan"]
list = list[::-1]  # list will contain a reversed copy of the list

print(list)
print(first_two)
print(everything_except_last)
print(list)

['gaurav', 'roshan', 'tushar', 'motan']
['motan', 'tushar']
['motan', 'tushar', 'roshan']
['gaurav', 'roshan', 'tushar', 'motan']

# Accessing Elements

In [3]:

#Use zero-based indexing to access elements

In [4]:
my_list = ["motan", "tushar", "roshan", "gaurav"]
emp_name = my_list[0]# emp_name will contain "motan"
emp_name1 = my_list[3] 
last_emp_name = my_list[-1]  # last_emp_name will contain "gaurav" (negative indexing)

In [5]:
print(my_list)
print(emp_name)
print(emp_name1)

print(last_emp_name)

['motan', 'tushar', 'roshan', 'gaurav']
motan
gaurav
gaurav

# Append Function

In [6]:
#Add an element to the end of list

In [7]:
my_list = ["motan", "tushar", "roshan", "gaurav"]
my_list

['motan', 'tushar', 'roshan', 'gaurav']

In [10]:
my_list.append("sumit")  # Add "sumit" to the end

In [11]:

my_list

['motan', 'tushar', 'roshan', 'gaurav', 'sumit', 'sumit']

# Insert Function

In [12]:
#Insert an element at a specific index

In [13]:
my_list = ["motan", "tushar", "roshan", "gaurav"]
my_list

['motan', 'tushar', 'roshan', 'gaurav']

In [14]:

my_list.insert(3, "sumit")  # Insert "sumit" at index 3

In [15]:
my_list

['motan', 'tushar', 'roshan', 'sumit', 'gaurav']

# Extend Function

In [16]:
#Add all elements from an iterable

In [17]:
my_list = ["motan", "tushar", "roshan", "gaurav"]
my_list

['motan', 'tushar', 'roshan', 'gaurav']

In [18]:

my_list.extend(["mohini", "ajju"])  # Add all elements from a list

In [19]:

my_list

['motan', 'tushar', 'roshan', 'gaurav', 'mohini', 'ajju']

# Remove Function

In [22]:
#The remove function method removes a given element from the list.

In [23]:
my_list = ["motan", "tushar", "roshan", "gaurav"]
my_list

['motan', 'tushar', 'roshan', 'gaurav']

In [24]:
my_list.remove("tushar")  # Remove the  "tushar"

In [25]:
my_list

['motan', 'roshan', 'gaurav']

# Pop Function

In [27]:
#Pop function removes element at a specific index from the list.

In [28]:
my_list = ["motan", "tushar", "roshan", "gaurav"]
my_list

['motan', 'tushar', 'roshan', 'gaurav']

In [29]:
removed_emp_name = my_list.pop(1)  # Remove and return the element at index 2

In [30]:

my_list

['motan', 'roshan', 'gaurav']

# Clear Function

In [31]:
#Clear function method removes all items from the list making it an empty list.

In [32]:
my_list = ["motan", "tushar", "roshan", "gaurav"]
my_list

['motan', 'tushar', 'roshan', 'gaurav']

In [33]:
my_list.clear()

In [34]:
my_list

[]

# Count Function

In [35]:

#This function method returns the count of the occurrences of a given element in a list

In [36]:
my_list = ["motan", "tushar", "roshan", "gaurav","gaurav"]
my_list

['motan', 'tushar', 'roshan', 'gaurav', 'gaurav']

In [37]:

my_list.count("gaurav")

2

In [38]:

my_list.count("tushar")

1

# Sort Function

In [40]:

#Sort the list in ascending order (in-place)

In [41]:
my_list = ["motan", "tushar", "roshan", "gaurav"]
my_list

['motan', 'tushar', 'roshan', 'gaurav']

In [42]:
my_list.sort()  # Sort in ascending order (in-place)

In [43]:
my_list

['gaurav', 'motan', 'roshan', 'tushar']

In [44]:
num = [20,15,45,27,7,9,18,23,11,12,5,87,]
num

[20, 15, 45, 27, 7, 9, 18, 23, 11, 12, 5, 87]

In [45]:
num.sort()

In [46]:

num

[5, 7, 9, 11, 12, 15, 18, 20, 23, 27, 45, 87]

# Min Function

In [47]:

#Min function returns the smallest element.

In [50]:
num = [20,15,45,25,7,9,18,23,11,198,5,35,]
num

[20, 15, 45, 25, 7, 9, 18, 23, 11, 198, 5, 35]

In [51]:

min(num)

5

# Max Function

In [52]:

#Max function return the largest element.

In [53]:
num = [20,15,45,25,7,9,18,23,11,198,5,35,]
num

[20, 15, 45, 25, 7, 9, 18, 23, 11, 198, 5, 35]

In [54]:

max(num)

198